# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.COMP4478_CatchingGame.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Desktop\Field Opertations\COMPSCI Y4S2\COMP 4478 - Game Programming\Exercises\Exercise 2\COMP4478_CatchingGame\.idea\.idea.COMP4478_CatchingGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
